.messages {
  display: flex;
  flex-direction: column;
}

.messages__header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
}
.messages__header >h4{
    padding: var(--spacing);
}
.messages__header a{
    text-decoration: none;
    color: inherit;
}
.message_container{
    display: flex;
    padding:var(--spacing);
    border-bottom: 1px solid lightgray;
    cursor: pointer;
}
.messages__content{
    display: flex;
    flex-direction: column;
    margin-left: var(--spacing);   
}
.messages__chatName{
    font-size: medium;
}
.messages__lastChat{
    font-size: small;
    color: var(--grayText);
}