.post {
  display: flex;
  flex-direction: column;
}
.post__retweetedBy {
  display: flex;
  align-items: center;
  margin-bottom: -10px;
  padding-left: 35px;
  padding-top: 10px;
  font-size: 13px;
  color: var(--grayText);
}
.post__retweetedBy > .MuiSvgIcon-root {
  font-size: 14px;
}
.post__retweetedBy > a {
  font-weight: normal !important;
}
.post__mainContainer {
  display: flex;
  border-bottom: 1px solid lightgray;
  padding: var(--spacing);
  cursor: pointer;
}
.post__right {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-left: var(--spacing);
}

.post a,
.reply a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.post a:hover,
.reply a:hover {
  text-decoration: underline;
}

.post__right__username,
.post__right__createdAt {
  color: var(--grayText);
  padding: 0 5px;
  font-size: small;
}

.post__right__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--grayButtonText);
}
.post__right__footer .MuiSvgIcon-root {
  padding: 5px;
}

.post__right__commentBtn:hover {
  background-color: #d4edff;
  color: var(--blue);
  border-radius: 50%;
}
.post__right__retweetBtn:hover {
  background-color: var(--greenLight);
  color: var(--green);
  border-radius: 50%;
}
.post__right__likeBtn:hover {
  background-color: var(--pinkLight);
  color: var(--pink);
  border-radius: 50%;
}

.post__right__like {
  padding: 0 10px;
}

.reply__textArea {
  resize: none;
  margin-left: var(--spacing);
  outline-width: 0;
  outline: none;
  border: none;
}
.reply {
  display: flex;
  flex-direction: column;
}
.reply__topContainer {
  display: flex;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: var(--spacing) 0;
}
.reply__bottomContainer {
  display: flex;
  padding: var(--spacing) 0;
}
.reply__bottomContainer > textarea {
  flex: 1;
}
.reply__button {
  background-color: var(--blue) !important;
  color: white !important;
}
.reply__button:disabled {
  background-color: var(--blueLight) !important;
}

.post__replyTo {
  margin-bottom: 5px;
  font-size: small;
}
.post__replyTo a {
  color: var(--blue);
}
